@font-face {
    font-family: 'Amaranth';
    src: url('font/amaranth-v11-latin-regular.woff') format('woff'),
        url('font/amaranth-v11-latin-regular.woff2') format('woff2');
}

.md-typeset h1 {
    font-family: "Amaranth";
}

.md-typeset h2 {
    font-family: "Amaranth";
}

.md-typeset h3 {
    font-family: "Amaranth";
}